/* Your Website Styles */
body {
	background: url('../img/subtle_dots.png') repeat;
	font-family: 'Montserrat', sans-serif;
	color: #58595b;
	text-align: justify;
}

p {
	font-size: 14px;
	margin-left: 46px;
	margin-right: 46px;
}

.lines {
	line-height: 26px;
}

.mail::before {
	content: url(../img/email.png);
	margin: 0 8px;
}

.mail {
	float: right;
}

.phone::before {
	content: url(../img/contact.png);
	margin: 0 8px;
}

.phone {
	margin-left: 95px;
}

.container {
	background: white;
	box-shadow: 0px 5px 45px #e1e1e1;
	padding: 0 40px 0 40px;
}

.topbox li {
  font-size: 28px;
  letter-spacing: 2px;
  display: inline-block;


}

.topbox a {
	text-decoration: none;
	color: white;
	margin-left: 4px;

}

.topbox a:hover {
	color: #00a1e0;
}

nav {
	  margin-top: 0;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #58595b;
  overflow:hidden;
  padding-left: 0;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
}

h1 {
	font-family: 'Expletus Sans', sans-serif;
	color: #00a1e0;
	text-align: center;
	font-size: 60px;
	margin: 15px 0 0 30px;
	letter-spacing: 4px;
}

h2 {
	color: #58595b;
}

h3 {
	margin-left: 46px;
}

.list {
	font-size: 14px;
	text-align: left;
	margin-right: 46px;

	
}

.title {
	color: #00a1e0;
	margin-right: 46px;
	text-align: left;
	font-size: 14px;
}

.dates {
	font-size: 14px
}

hr {
	border: 1px solid #e1e1e1;
}

.btn  {
	display: inline-block;
}

.btn a {
	text-decoration: none;
	color: #58595b;
	font-size: 28px;
	letter-spacing: 2px;
}

 .container .footer .portfolio {
  text-align: center;
  background: #e1e1e1;
  padding: 50px;
  margin: 0 -40px -20px -40px;
  height: 180px;
}

.btn a:hover {
	color: #00a1e0;
}


/* Show Grid */
