/* Your Website Styles */
body {
	background: url('../img/subtle_dots.png') repeat;
	font-family: 'Montserrat', sans-serif;
	color: #414042;
	text-align: justify;
}

p {
	font-size: .875em;
	margin-left: 4.6%;
	margin-right: 4.6%;
}

.lines {
	line-height: 26px;
}

.mail::before {
	content: url(../img/email.png);
	margin: 0 8px;
}

.mail {
	float: right;
}

.phone::before {
	content: url(../img/contact.png);
	margin: 0 8px;
}

.phone {
	margin-left: 9.5%;
}

.container {
	background: white;
	box-shadow: 0px 5px 45px #e1e1e1;
	padding: 0 4% 0 4%;
}

.topbox li {
  font-size: 1.125em;
  letter-spacing: 2px;
  display: inline-block;


}

.topbox a {
	text-decoration: none;
	color: white;
	margin-left: 4px;

}

.topbox a:hover {
	color: #00a1e0;
}

nav {
  margin-top: 0;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #414042;
  overflow:hidden;
  padding-left: 0;
}

img {
  width: 20%;
  height: 20%;
  display: block;
  margin: 15% 0 0 41% ;
}

h2 {
	color: #414042;
}

h3 {
	margin-left: 4.6%;
}

.list {
	font-size: .875em;
	text-align: left;
	margin-right: 4.6%;

	
}

.title {
	color: #00a1e0;
	margin-right: 4.6%;
	text-align: left;
	font-size: .875em;
}

.dates {
	font-size: .875em
}

hr {
	border: 1px solid #e1e1e1;
}

.btn  {
	display: inline-block;
}

.btn a {
	text-decoration: none;
	color: #414042;
	font-size: 1.125em;
	letter-spacing: 2px;
}

 .container .footer .portfolio {
  text-align: center;
  background: #e1e1e1;
  padding: 5.9%;
  margin: 0 -4% -2% -6%;
  height: 180px;
  width: 100%;
}

.btn a:hover {
	color: #00a1e0;
}

@media screen and (max-width: 800px) {

	.grid_4 {
		width: 100%;
	}

	.grid_6 {
		width: 100%;
		text-align: center;
	}

	.mail {
		float: none;
	}

	.phone {
		margin-left: none;
		margin-right: 9%;
	}

	.topbox li {
		font-size: .875em;
	}

}


/* Show Grid */
